@page
@model CRUDJunior.Pages.Aluno.CadastroAlunoModel
@{
    ViewData["Title"] = "Cadastro de Alunos";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <label for="primeiroNome">Primeiro Nome:</label>
        <input type="text" id="primeiroNome" name="PrimeiroNome" asp-for="Model.PrimeiroNome" required />
    </div>
    <div>
        <label for="ultimoNome">Último Nome:</label>
        <input type="text" id="ultimoNome" name="UltimoNome" asp-for="Model.UltimoNome" required />
    </div>
    <div>
        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="Documento" asp-for="Model.Documento" required />
    </div>
    <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="DataNascimento" asp-for="Model.DataNascimento" required />
    </div>
    <div>
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="Telefone" asp-for="Model.Telefone" required />
    </div>
    <div>
        <label for="imagem">Imagem:</label>
        <input type="text" id="imagem" name="Imagem" asp-for="Model.Imagem" />
    </div>
    <button type="submit">Adicionar Aluno</button>
</form>